TaskList/AppDelegate.swift
TaskList/SceneDelegate.swift
.DS_Store
Podfile
Podfile.lock
Pods/
TaskList/GoogleService-Info.plist
TaskList/Info.plist
TaskList.xcodeproj/xcuserdata/islamkirenli.xcuserdatad/xcschemes/xcschememanagement.plist
TaskList.xcworkspace/xcuserdata/islamkirenli.xcuserdatad/UserInterfaceState.xcuserstate
TaskList.xcodeproj/project.pbxproj
TaskList/Assets.xcassets/
TaskList/Ads.swift
TaskList/TaskList.entitlements
TaskList.xcodeproj/project.xcworkspace/xcuserdata/islamkirenli.xcuserdatad/UserInterfaceState.xcuserstate
TaskList.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TaskList.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TaskList/TaskList.xcdatamodeld/.xccurrentversion
TaskList/TaskList.xcdatamodeld/TaskList.xcdatamodel/contents
TaskList/SupabaseManager.swift